/* main.css */
#wrap { width: 100%; height: auto; margin: auto; }

article, footer { width: 100%; height: 100vh; }

section { width: 100%; height: auto; }

::-webkit-scrollbar { width: 8px; height: 8px; border: 3px solid #060606; }

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment { display: block; height: 10px; background-color: #333; }

::-webkit-scrollbar-track { background: #1d1d1d; }

::-webkit-scrollbar-thumb { height: 50px; width: 50px; background-color: #777; }

#headBox { float: left; position: relative; z-index: 300; width: 100%; height: 122px; background-color: transparent; padding-top: 4rem; box-sizing: border-box; transition: all 1s ease; }

nav { width: 1258px; height: 58px; margin: auto; }

nav h1 { float: left; width: 58px; height: 58px; background-image: url("../img/logo.png"); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; }

nav h1 a { display: block; width: 100%; height: 100%; }

nav h1 a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

nav ul { float: right; width: 332px; height: 100%; }

nav ul li { float: left; margin-right: 2.0625rem; width: 58px; height: 58px; background-color: transparent; border: 1.5px solid #060606; box-sizing: border-box; border-radius: 100%; line-height: 3.4375rem; font-size: 12px; font-weight: normal; transition: all .8s ease; }

nav ul li a { display: block; width: 100%; height: 100%; text-align: center; color: #e0e0e0; font-weight: bold; border-radius: 100%; }

nav ul li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

nav ul li:hover { border: 1.5px solid #fff; transform: rotate(360deg); }

nav ul li:hover a { color: #fff; }

nav ul li:last-child { margin-right: 0; }

#mainBox { position: relative; background-color: #060606; }

#mainBox ul { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 820px; height: 200px; }

#mainBox ul li { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 490px; height: 200px; }

#mainBox ul li:nth-child(3) { width: 820px; }

#mainBox ul h2 { color: #fff; font-size: 180px; width: 100%; height: 100%; }

#mainBox ul h2:after, #mainBox ul h2::after { content: ""; display: block; position: absolute; bottom: -24px; width: 490px; height: 28px; background-image: url("../img/border_bottom_w.png"); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; }

#mainBox ul li:nth-child(3) h2:after, #mainBox ul li:nth-child(3) h2::after { width: 820px; }

#mainBox p { position: absolute; left: 50%; transform: translateX(-50%); bottom: 284px; width: 800px; height: 30px; color: #fff; text-align: center; }

#mainBox div { position: absolute; left: 0; right: 0; margin: auto; bottom: 48px; width: 50px; height: 34px; animation: bounce .5s ease infinite alternate; }

#mainBox div a { display: block; width: 100%; height: 100%; color: #ccc; font-size: 1.25rem; line-height: 2.125rem; text-align: center; }

#mainBox div a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

@keyframes bounce { 100% { bottom: 54px; } }

#aboutBox { position: relative; background-color: #e0e0e0; overflow: hidden; }

#aboutBox h2 { position: absolute; top: 700px; right: 330px; font-size: 11.25rem; width: 420px; height: 240px; text-align: center; opacity: 0; transition: all .8s ease; }

#aboutBox h2:after, #aboutBox h2::after { content: ""; display: block; position: absolute; bottom: 20px; width: 420px; height: 28px; background-image: url("../img/border_bottom_b.png"); background-size: contain; background-repeat: no-repeat; background-position: 50% 50%; }

.about_text { position: absolute; top: 700px; left: 330px; width: 720px; height: 240px; font-size: 2.25rem; font-family: 'KCC-eunyoung-Regular'; line-height: 3.75rem; opacity: 0; transition: all 3s ease; }

.about_text span { font-size: 3.25rem; display: inline-table; position: relative; z-index: 100; overflow: hidden; }

.about_text span::before { content: ""; display: block; position: absolute; z-index: -1; top: 0; left: -100%; width: 100%; height: 100%; background-color: rgba(238, 244, 0, 0.4); transition: all .8s ease; }

.about_text span:nth-of-type(2)::before { transition: all 1.2s ease; }

.about_text:hover span::before { left: 0; }

.fix_menu { position: absolute; z-index: 300; top: 50%; transform: translateY(-50%); right: -20px; width: 80px; height: 160px; opacity: 0; transition: all 1s ease; }

.fix_menu ul { width: 100%; height: 100%; }

.fix_menu ul li { float: right; position: relative; width: 100%; height: 24px; margin-bottom: 24px; }

.fix_menu ul li:last-child { margin-bottom: 0; }

.fix_menu ul li:last-child span { left: 0; }

.fix_menu ul li span { position: absolute; top: 50%; transform: translateY(-50%); left: 10px; display: none; width: 6px; height: 6px; border-radius: 100%; background-color: #666; display: none; }

.fix_menu ul li a { display: block; width: 80px; height: 100%; float: right; color: #666; font-size: 1rem; text-align: right; line-height: 1.25rem; transition: all .5s ease; }

.fix_menu ul li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

.fix_menu ul li a:hover { margin-right: 5px; }

#aboutBox h2.action, .about_text.action { top: 50%; transform: translateY(-50%); opacity: 1; }

.fix_menu.real_fix { position: fixed; right: 60px; opacity: 1; }

#aboutCon { position: relative; padding-top: 64px; }

.my_image { position: relative; width: 250px; height: 250px; margin: auto; box-sizing: border-box; border-radius: 100%; border: 1.5px solid #e0e0e0; margin-bottom: 1rem; }

.about_list { width: 1680px; height: 720px; margin: auto; }

.about_list ul { width: 100%; height: 100%; }

.about_list ul li { float: left; width: 33.333333%; height: 100%; }

.about_list ul li dt { margin-bottom: 3rem; }

.about_list ul li dl { width: 100%; height: 100%; }

.about_list ul li dl dt { width: 100%; height: 122px; font-size: 6.25rem; text-align: center; }

.about_list ul li dl dt p { font-family: 'Open Sans'; font-size: 1rem; color: #777; font-style: normal; line-height: 0; }

.about_list ul li dl dd { width: 100%; height: 598px; text-align: center; font-size: 1.125rem; line-height: 1.875rem; }

.about_list ul li dl dd span { font-size: 0.75rem; }

.history dd div { margin: auto; transform: translateX(-200%); width: 1.5px; height: 100%; background-color: #1d1d1d; }

.history dd div span { display: block; transform: translateX(-50%); width: 1rem; height: 1rem; background-color: #1d1d1d; border-radius: 100%; margin-bottom: 3rem; }

#aboutCon_02 { position: relative; padding-top: 5.5rem; }

#aboutCon_02 h2 { width: 100%; height: auto; text-align: center; font-size: 6.25rem; margin-bottom: 5rem; }

#aboutCon_02 h2 p { font-family: 'Open Sans'; font-size: 1rem; color: #777; font-style: normal; line-height: 0; }

#aboutCon_02 dl { height: 244px; text-align: center; color: #060606; }

#aboutCon_02 dl dt { width: 100%; height: 32px; margin-bottom: 3.25rem; font-weight: bold; font-size: 1.75rem; }

#aboutCon_02 dl dd { width: 100%; height: 162px; text-align: center; }

#aboutCon_02 dl dd ul { width: 100%; height: 100%; font-family: 'Open Sans'; font-weight: bold; }

#aboutCon_02 dl dd ul li { float: left; width: 114px; height: 100%; margin-right: 4.25rem; }

#aboutCon_02 dl dd ul li:last-child { margin-right: 0; }

#aboutCon_02 dl dd ul li div { width: 104px; height: 104px; margin: auto; }

#aboutCon_02 dl dd ul li p { width: 100%; margin-top: 2.25rem; }

.pub { width: 1206px; margin: auto; margin-bottom: 4.375rem; }

.des { width: 478px; margin: auto; }

#workBox { position: relative; background-color: #e0e0e0; }

#workBox h2 { position: absolute; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; top: 700px; font-size: 11.25rem; width: 420px; height: 200px; text-align: center; opacity: 0; transition: all 1.5s ease; }

#workBox h2:after, #workBox h2::after { content: ""; display: block; position: absolute; bottom: -24px; width: 420px; height: 28px; background-image: url("../img/border_bottom_b.png"); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; }

#workBox dl { position: absolute; right: 330px; bottom: 108px; width: 300px; height: 108px; text-align: right; }

#workBox dl dt { width: 100%; height: 28px; font-size: 1.5rem; font-weight: bold; margin-bottom: 1.75rem; }

#workBox dl dd { width: 100%; height: 64px; padding-left: 12.125rem; box-sizing: border-box; }

#workBox dl dd a { float: right; display: block; width: 74px; height: 28px; margin-bottom: 0.5rem; font-size: 1.25rem; text-align: right; }

#workBox dl dd a:last-child { width: 60px; margin-bottom: 0; }

#workBox h2.action { opacity: 1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }

#workCon { position: relative; height: auto; }

#workCon ul { width: 100%; height: auto; margin: auto; }

#workCon ul li { width: 100%; height: 100vh; }

#workCon ul li:last-child { margin-right: 0; }

#workCon ul li dl { width: 100%; height: 100%; padding-top: 68px; box-sizing: border-box; }

#workCon ul li dl dt { width: 100%; height: 10%; font-size: 4.375rem; text-align: center; margin-bottom: 100px; }

#workCon ul li dl dd { width: 70%; height: 60%; margin: auto; }

#workCon ul li dl dd > div { float: left; }

.project_img { width: 50%; height: 100%; background-color: #060606; }

.project_text { width: 50%; height: 100%; background-color: #e0e0e0; }

#footBox { position: relative; background-color: #060606; }

#footBox ul { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 290px; height: 100px; }

#footBox ul li { position: relative; width: 100%; height: 52px; margin-bottom: 0.625rem; overflow: hidden; }

#footBox ul li:last-child { margin-bottom: 0; }

#footBox ul li a { color: #fff; font-size: 24px; line-height: 3.125rem; }

#footBox ul li a::before { content: ""; position: absolute; bottom: 0; width: 100%; height: 1.2px; background-color: #ee0; opacity: 0; transition: all 1s ease; }

#footBox ul li:nth-child(1) a::before { left: -100%; }

#footBox ul li:nth-child(2) a::before { left: 100%; }

#footBox ul li:hover a:before { left: 0; opacity: 1; }

.timer { position: absolute; left: 50%; transform: translateX(-50%); bottom: 120px; width: 204px; height: 50px; color: #fff; line-height: 3.125rem; font-size: 2rem; font-weight: lighter; text-align: center; }

.copy { position: absolute; left: 50%; transform: translateX(-50%); bottom: 54px; width: 516px; height: 52px; color: #fff; font-size: 1rem; text-align: center; line-height: 1.625rem; }
