/* main.css */
#wrap { width: 100%; height: auto; min-width: 480px; min-height: 100%; margin: auto; overflow-x: hidden; }

article, footer { width: 100%; height: 100vh; }

section { width: 100%; height: auto; }

::-webkit-scrollbar { width: 8px; height: 8px; border: 3px solid #060606; }

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment { display: block; height: 10px; background-color: #333; }

::-webkit-scrollbar-track { background: #1d1d1d; }

::-webkit-scrollbar-thumb { height: 50px; width: 50px; background-color: #777; }

#headBox { float: left; position: relative; z-index: 300; width: 100%; background-color: transparent; box-sizing: border-box; transition: all 1s ease; }

nav { margin: auto; }

nav h1 { float: left; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }

nav h1 a { display: block; width: 100%; height: 100%; }

nav h1 a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

nav ul { float: right; height: 100%; }

nav ul li { float: left; background-color: transparent; border: 1.5px solid #060606; box-sizing: border-box; border-radius: 100%; font-weight: normal; transition: all .8s ease; }

nav ul li a { display: block; width: 100%; height: 100%; text-align: center; color: #e0e0e0; font-weight: bold; border-radius: 100%; }

nav ul li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

nav ul li:hover { border: 1.5px solid #fff; transform: rotate(360deg); }

nav ul li:hover a { color: #fff; }

nav ul li:last-child { margin-right: 0; }

#mainBox { position: relative; background-color: #060606; }

#mainBox ul { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }

#mainBox ul li { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }

#mainBox ul h2 { color: #fff; width: 100%; height: 100%; }

#mainBox ul h2:after, #mainBox ul h2::after { content: ""; display: block; position: absolute; background-image: url("../img/border_bottom_w.png"); background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }

#mainBox p { position: absolute; color: #fff; text-align: center; }

#mainBox div { position: absolute; left: 0; right: 0; margin: auto; animation: bounce .5s ease infinite alternate; }

#mainBox div a { display: block; width: 100%; height: 100%; color: #ccc; text-align: center; }

#mainBox div a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

@keyframes bounce { 100% { bottom: 54px; } }

#aboutBox { position: relative; background-color: #e0e0e0; overflow: hidden; }

#aboutBox h2 { position: absolute; text-align: center; opacity: 0; transition: all 1.5s ease; }

#aboutBox h2:after, #aboutBox h2::after { content: ""; display: block; position: absolute; background-image: url("../img/border_bottom_b.png"); background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; }

.about_text { position: absolute; opacity: 0; transition: all 3s ease; }

.about_text span { font-weight: bold; display: inline-table; position: relative; z-index: 100; overflow: hidden; }

.about_text span::before { content: ""; display: block; position: absolute; z-index: -1; top: 0; left: -100%; width: 100%; height: 100%; background-color: rgba(238, 244, 0, 0.4); transition: all .8s ease; }

.about_text span:nth-of-type(2)::before { transition: all 1.2s ease; }

.about_text:hover span::before { left: 0; }

.fix_menu { position: absolute; z-index: 1000; top: 50%; transform: translateY(-50%); right: 60px; opacity: 0; transition: all 1s ease; }

.fix_menu ul { width: 80px; height: 100%; }

.fix_menu ul li { float: right; position: relative; width: 100%; }

.fix_menu ul li:last-child { margin-bottom: 0; }

.fix_menu ul li:last-child span { left: 0; }

.fix_menu ul li span { position: absolute; top: 50%; transform: translateY(-50%); left: 10px; display: none; width: 6px; height: 6px; border-radius: 100%; background-color: #666; display: none; }

.fix_menu ul li a { display: block; width: 80px; height: 100%; float: right; color: #666; text-align: right; line-height: 1.25rem; transition: all .5s ease; }

.fix_menu ul li a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }

.fix_menu ul li a:hover { margin-right: 5px; }

.fix_menu.real_fix { position: fixed; right: 60px; opacity: 1; }

#aboutCon { position: relative; box-sizing: border-box; }

.about_list { margin: auto; }

.about_list ul { width: 100%; height: 100%; }

.about_list ul li { float: left; height: 100%; }

.about_list ul li dl { width: 100%; height: 100%; }

.about_list ul li dl dt { width: 100%; height: 16%; text-align: center; }

.about_list ul li dl dt p { font-family: 'Open Sans'; color: #777; font-style: normal; }

.about_list ul li dl dd { width: 100%; height: 82%; text-align: center; }

.history dd { position: relative; overflow: hidden; }

.history div { position: absolute; top: -100%; left: 50%; transform: traslateX(-50%); height: 100%; background-color: #1d1d1d; opacity: 0; transition: all 2s ease; }

.history ul { width: 100%; height: 100%; }

.history ul li { float: right; width: 100%; text-align: left; }

.history ul li:nth-child(2n) { text-align: right; }

.history ul li:nth-child(2n) p { float: left; margin-left: -50%; }

.history ul li p { height: auto; float: right; margin-right: -50%; opacity: 0; transition: all 1.5s ease; }

.history ul li p strong { display: block; height: auto; }

.history ul li:nth-child(1) p { transition-delay: 0.25s; }

.history ul li:nth-child(2) p { transition-delay: 0.5s; }

.history ul li:nth-child(3) p { transition-delay: 0.75s; }

.history ul li:nth-child(4) p { transition-delay: 1s; }

.history ul li:nth-child(5) p { transition-delay: 1.25s; }

.history div.action { top: 0; opacity: 1; }

.history li p.action { margin-right: 0; opacity: 1; }

.history li:nth-child(2n) p.action { margin-left: 0; }

#aboutCon_02 { position: relative; padding-top: 5.5rem; box-sizing: border-box; }

#aboutCon_02 h2 { width: 100%; height: auto; text-align: center; }

#aboutCon_02 h2 p { font-family: 'Open Sans'; color: #777; }

#aboutCon_02 dl { text-align: center; color: #060606; }

#aboutCon_02 dl dt { width: 100%; height: 32px; margin-bottom: 3.25rem; font-weight: bold; }

#aboutCon_02 dl dd { width: 100%; height: 162px; text-align: center; }

#aboutCon_02 dl dd ul { width: 100%; height: 100%; font-family: 'Open Sans'; font-weight: bold; }

#aboutCon_02 dl dd ul li { position: relative; float: left; height: 100%; }

#aboutCon_02 dl dd ul li:last-child { margin-right: 0; }

#aboutCon_02 dl dd ul li div { margin: auto; }

#aboutCon_02 dl dd ul li p { width: 100%; }

.my_can + em { position: absolute; top: 36px; left: 50%; transform: translateX(-50%); font-style: normal; text-align: center; }

#workBox { position: relative; background-color: #e0e0e0; }

#workBox h2 { position: absolute; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; text-align: center; opacity: 0; transition: all 1.5s ease; }

#workBox h2:after, #workBox h2::after { content: ""; display: block; position: absolute; background-image: url("../img/border_bottom_b.png"); background-repeat: no-repeat; background-position: 50% 50%; background-size: contain; }

#workBox dl { position: absolute; text-align: right; }

#workBox dl dt { width: 100%; font-weight: bold; }

#workBox dl dd { width: 100%; box-sizing: border-box; }

#workBox dl dd a { float: right; display: block; text-align: right; }

#workBox dl dd a:last-child { margin-bottom: 0; }

#workBox h2.action { opacity: 1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; }

#workCon { position: relative; height: auto; }

#workCon > ul { width: 100%; height: auto; margin: auto; }

#workCon > ul > li { width: 100%; height: 100vh; }

#workCon > ul > li:last-child { margin-right: 0; }

#workCon > ul > li > dl { width: 100%; height: 100%; padding-top: 68px; box-sizing: border-box; }

#workCon > ul > li > dl > dt { width: 100%; height: 10%; text-align: center; margin-bottom: 100px; }

#workCon > ul > li > dl > dd { width: 70%; height: 60%; margin: auto; }

#workCon > ul > li > dl > dd > div { float: left; }

.project_img { position: relative; width: 50%; height: 100%; overflow: hidden; transition: all 1.6s ease; }

.project_img:hover { background-size: 108%; }

.project_01_img { background-image: url("../img/project/project_01.jpg"); background-repeat: no-repeat; background-position: 50% 50%; background-size: 400%; }

.project_02_img { background-image: url("../img/project/project_02.jpg"); background-repeat: no-repeat; background-position: 50% 50%; background-size: 400%; }

.project_text { width: 50%; height: 100%; }

.project_text dl { width: 100%; height: 100%; }

.project_text dl dt { width: 100%; height: 20%; font-weight: bold; box-sizing: border-box; }

.project_text dl dd { width: 100%; height: 80%; box-sizing: border-box; }

.project_text dl dd a { text-align: center; background-color: #1d1d1d; color: #fff; }

.project_text dl dd a:hover { background-color: #fff; color: #1d1d1d; border: 2px solid #1d1d1d; box-sizing: border-box; }

#footBox { position: relative; background-color: #060606; }

#footBox ul { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; height: 100px; }

#footBox ul li { position: relative; width: 100%; overflow: hidden; }

#footBox ul li:last-child { margin-bottom: 0; }

#footBox ul li a { color: #fff; }

#footBox ul li a::before { content: ""; position: absolute; bottom: 0; width: 100%; height: 1.2px; background-color: #ee0; opacity: 0; transition: all 1s ease; }

#footBox ul li:nth-child(1) a::before { left: -100%; }

#footBox ul li:nth-child(2) a::before { left: 100%; }

#footBox ul li:hover a:before { left: 0; opacity: 1; }

.timer { position: absolute; left: 50%; transform: translateX(-50%); color: #fff; font-weight: lighter; text-align: center; }

.copy { position: absolute; left: 50%; transform: translateX(-50%); color: #fff; text-align: center; }

@media screen and (min-width: 1920px) { #headBox { height: 122px; padding-top: 4rem; }
  nav { width: 1258px; height: 58px; }
  nav h1 { width: 58px; height: 58px; }
  nav ul { width: 332px; }
  nav ul li { margin-right: 2.0625rem; width: 58px; height: 58px; line-height: 3.4375rem; font-size: 12px; }
  #mainBox ul { width: 820px; height: 200px; }
  #mainBox ul li { width: 490px; height: 200px; }
  #mainBox ul li:nth-child(3) { width: 820px; }
  #mainBox ul h2 { font-size: 180px; }
  #mainBox ul h2:after, #mainBox ul h2::after { bottom: -24px; width: 490px; height: 28px; }
  #mainBox ul li:nth-child(3) h2:after, #mainBox ul li:nth-child(3) h2::after { width: 820px; }
  #mainBox p { top: 70%; left: 50%; transform: translate(-50%, -50%); width: 800px; height: 30px; }
  #mainBox div { left: 0; right: 0; bottom: 48px; width: 50px; height: 34px; }
  #mainBox div a { font-size: 1.25rem; line-height: 2.125rem; }
  #aboutBox h2 { top: 700px; right: 330px; font-size: 11.25rem; width: 420px; height: 240px; opacity: 0; }
  #aboutBox h2:after, #aboutBox h2::after { content: ""; display: block; bottom: 20px; width: 420px; height: 28px; }
  .about_text { top: 700px; left: 330px; width: 720px; height: 128px; line-height: 2rem; opacity: 0; }
  .about_text span { font-size: 1.25rem; font-weight: bold; display: inline-table; z-index: 100; }
  .about_text span::before { content: ""; display: block; z-index: -1; top: 0; left: -100%; }
  #aboutBox h2.action, .about_text.action { top: 50%; transform: translateY(-50%); opacity: 1; }
  #aboutCon { padding-top: 8rem; }
  .about_list { width: 1680px; height: 660px; margin: auto; }
  .about_list ul li { width: 33.333333%; }
  .about_list ul li dt { margin-bottom: 6rem; }
  .about_list ul li dl dt { height: 16%; font-size: 6.25rem; }
  .about_list ul li dl dt p { font-size: 1rem; color: #777; line-height: 0; }
  .about_list ul li dl dd { height: 82%; font-size: 1rem; line-height: 1.875rem; }
  .about_list ul li dl dd span { font-size: 0.75rem; }
  .history div { top: -100%; left: 50%; transform: traslateX(-50%); width: 1px; }
  .history ul li { width: 100%; height: 72px; font-size: 1rem; line-height: 0; margin-bottom: 1rem; }
  .history ul li:nth-child(2n) { text-align: right; }
  .history ul li:nth-child(2n) span { margin-right: 273px; margin-left: 0; }
  .history ul li:nth-child(2n) p { margin-left: -50%; }
  .history ul li:nth-child(n+2) { margin-bottom: 2rem; }
  .history ul li p { width: 42%; margin-right: -50%; line-height: 1.25rem; }
  #aboutCon_02 { padding-top: 5.5rem; }
  #aboutCon_02 h2 { height: auto; font-size: 6.25rem; margin-bottom: 5rem; }
  #aboutCon_02 h2 p { font-size: 1rem; line-height: 0; }
  #aboutCon_02 dl { height: 244px; }
  #aboutCon_02 dl dt { height: 32px; margin-bottom: 3.25rem; font-weight: bold; font-size: 1.75rem; }
  #aboutCon_02 dl dd { height: 162px; }
  #aboutCon_02 dl dd ul { font-weight: bold; }
  #aboutCon_02 dl dd ul li { width: 114px; margin-right: 4.25rem; }
  #aboutCon_02 dl dd ul li:last-child { margin-right: 0; }
  #aboutCon_02 dl dd ul li div { width: 104px; height: 104px; }
  #aboutCon_02 dl dd ul li p { margin-top: 2.25rem; }
  .my_can + em { top: 36px; left: 50%; transform: translateX(-50%); font-size: 1.5rem; }
  .my_can + em span { font-size: 0.75rem; }
  .pub { width: 1206px; margin: auto; margin-bottom: 4.375rem; }
  .des { width: 478px; margin: auto; }
  #workBox h2 { top: 700px; font-size: 11.25rem; width: 420px; height: 200px; }
  #workBox h2:after, #workBox h2::after { content: ""; display: block; bottom: -24px; width: 420px; height: 28px; }
  #workBox dl { right: 330px; bottom: 108px; width: 300px; height: 108px; }
  #workBox dl dt { height: 28px; font-size: 1.5rem; margin-bottom: 1.75rem; }
  #workBox dl dd { height: 64px; padding-left: 12.125rem; }
  #workBox dl dd a { width: 74px; height: 28px; margin-bottom: 0.5rem; font-size: 1.25rem; }
  #workBox dl dd a:last-child { width: 60px; margin-bottom: 0; }
  #workCon > ul > li:last-child { margin-right: 0; }
  #workCon > ul > li > dl { padding-top: 68px; }
  #workCon > ul > li > dl > dt { height: 10%; font-size: 4.375rem; margin-bottom: 100px; }
  #workCon > ul > li > dl > dd { width: 70%; height: 60%; }
  .project_img { width: 50%; }
  .project_img:hover { background-size: 108%; }
  .project_text { width: 50%; }
  .project_text dl dt { height: 20%; font-size: 2.5rem; font-weight: bold; line-height: 1.5rem; padding-top: 1.5rem; padding-left: 3rem; box-sizing: border-box; }
  .project_text dl dt span { font-size: 1.25rem; line-height: 0; }
  .project_text dl dd { height: 80%; padding-left: 3rem; padding-top: 1.5rem; box-sizing: border-box; }
  .project_text dl dd a { display: block; width: 162px; height: 42px; line-height: 42px; font-size: 1.25rem; margin-top: 8rem; }
  .project_text dl dd a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .project_text dl dd a:hover { border: 2px solid #1d1d1d; box-sizing: border-box; line-height: 38px; }
  #footBox ul { width: 290px; height: 100px; }
  #footBox ul li { height: 52px; margin-bottom: 0.625rem; }
  #footBox ul li:last-child { margin-bottom: 0; }
  #footBox ul li a { font-size: 24px; line-height: 3.125rem; }
  #footBox ul li a::before { content: ""; bottom: 0; height: 1.2px; opacity: 0; }
  .timer { bottom: 120px; width: 204px; height: 50px; line-height: 3.125rem; font-size: 2rem; }
  .copy { bottom: 54px; width: 516px; height: 52px; line-height: 1.625rem; } }

@media screen and (min-width: 1280px) and (max-width: 1919px) { #headBox { height: 122px; padding-top: 4rem; }
  nav { width: 1100px; height: 58px; }
  nav h1 { width: 58px; height: 58px; }
  nav ul { width: 332px; }
  nav ul li { margin-right: 2.0625rem; width: 58px; height: 58px; line-height: 3.4375rem; font-size: 12px; }
  #mainBox ul { width: 820px; height: 200px; }
  #mainBox ul li { width: 490px; height: 200px; }
  #mainBox ul li:nth-child(3) { width: 820px; }
  #mainBox ul h2 { font-size: 9rem; }
  #mainBox ul h2:after, #mainBox ul h2::after { content: ""; display: block; bottom: -24px; width: 480px; height: 22px; }
  #mainBox ul li:nth-child(3) h2:after, #mainBox ul li:nth-child(3) h2::after { width: 800px; }
  #mainBox p { top: 70%; left: 50%; transform: translate(-50%, -50%); width: 800px; height: 30px; }
  #mainBox div { left: 0; right: 0; bottom: 48px; width: 50px; height: 34px; }
  #mainBox div a { font-size: 1.25rem; line-height: 2.125rem; }
  #aboutBox h2 { top: 700px; right: 90px; font-size: 10rem; width: 420px; height: 240px; opacity: 0; }
  #aboutBox h2:after, #aboutBox h2::after { content: ""; display: block; bottom: 20px; width: 420px; height: 28px; }
  .about_text { top: 700px; left: 90px; width: 720px; height: 128px; line-height: 2rem; opacity: 0; }
  .about_text span { font-size: 1.25rem; display: inline-table; z-index: 100; }
  .about_text span::before { content: ""; display: block; z-index: -1; top: 0; left: -100%; }
  #aboutBox h2.action, .about_text.action { top: 50%; transform: translateY(-50%); opacity: 1; }
  #aboutCon { padding-top: 4rem; }
  .about_list { width: 1100px; height: 660px; margin: auto; }
  .about_list ul li { width: 33.333333%; }
  .about_list ul li dt { margin-bottom: 4rem; }
  .about_list ul li dl dt { height: 16%; font-size: 5rem; }
  .about_list ul li dl dt p { font-size: 1rem; color: #777; line-height: 0; }
  .about_list ul li dl dd { height: 82%; font-size: 0.875rem; line-height: 1.75rem; }
  .about_list ul li dl dd span { font-size: 0.625rem; }
  .history div { top: -100%; left: 50%; transform: traslateX(-50%); width: 1px; }
  .history ul li { width: 100%; height: 72px; font-size: 0.875rem; line-height: 0; margin-bottom: 0.875rem; }
  .history ul li:nth-child(2n) { text-align: right; }
  .history ul li:nth-child(2n) span { margin-right: 273px; margin-left: 0; }
  .history ul li:nth-child(2n) p { margin-left: -50%; }
  .history ul li p { width: 42%; margin-right: -50%; line-height: 1.25rem; }
  #aboutCon_02 { padding-top: 4rem; }
  #aboutCon_02 h2 { height: auto; font-size: 6.25rem; margin-bottom: 4.25rem; }
  #aboutCon_02 h2 p { font-size: 1rem; line-height: 0; }
  #aboutCon_02 dl { height: 244px; }
  #aboutCon_02 dl dt { height: 32px; margin-bottom: 2.25rem; font-size: 1.5rem; }
  #aboutCon_02 dl dd { height: 162px; }
  #aboutCon_02 dl dd ul li { width: 108px; margin-right: 40.4px; }
  #aboutCon_02 dl dd ul li:last-child { margin-right: 0; }
  #aboutCon_02 dl dd ul li div { width: 104px; height: 104px; }
  #aboutCon_02 dl dd ul li p { margin-top: 1.875rem; }
  .my_can + em { top: 36px; left: 50%; transform: translateX(-50%); font-size: 1.5rem; }
  .my_can + em span { font-size: 0.75rem; }
  .pub { width: 1000px; margin: auto; margin-bottom: 3rem; }
  .des { width: 408px; margin: auto; }
  #workBox h2 { top: 700px; font-size: 10rem; width: 420px; height: 200px; opacity: 0; }
  #workBox h2:after, #workBox h2::after { content: ""; display: block; bottom: -24px; width: 420px; height: 28px; }
  #workBox dl { right: 90px; bottom: 108px; width: 300px; height: 108px; text-align: right; }
  #workBox dl dt { height: 28px; font-size: 1.25rem; margin-bottom: 1.75rem; }
  #workBox dl dd { height: 64px; padding-left: 12.125rem; }
  #workBox dl dd a { display: block; width: 74px; height: 28px; margin-bottom: 0.5rem; font-size: 1rem; text-align: right; }
  #workBox dl dd a:last-child { width: 60px; margin-bottom: 0; }
  #workCon { height: auto; }
  #workCon > ul { height: auto; }
  #workCon > ul > li:last-child { margin-right: 0; }
  #workCon > ul > li > dl { padding-top: 4rem; }
  #workCon > ul > li > dl > dt { height: 10%; font-size: 70px; margin-bottom: 100px; }
  #workCon > ul > li > dl > dd { width: 70%; height: 60%; }
  .project_img { width: 50%; }
  .project_img:hover { background-size: 108%; }
  .project_text { width: 50%; }
  .project_text dl dt { height: 20%; font-size: 1.875rem; line-height: 1.5rem; padding-top: 1.5rem; padding-left: 3rem; }
  .project_text dl dt span { font-size: 1rem; line-height: 0; }
  .project_text dl dd { height: 80%; padding-left: 3rem; padding-top: 1.5rem; }
  .project_text dl dd a { display: block; width: 162px; height: 42px; line-height: 42px; font-size: 1.25rem; margin-top: 8rem; }
  .project_text dl dd a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .project_text dl dd a:hover { border: 2px solid #1d1d1d; line-height: 38px; }
  #footBox ul { width: 290px; height: 100px; }
  #footBox ul li { height: 48px; margin-bottom: 0.625rem; }
  #footBox ul li:last-child { margin-bottom: 0; }
  #footBox ul li a { font-size: 1.25rem; line-height: 3.125rem; }
  #footBox ul li a::before { content: ""; bottom: 0; height: 1.2px; opacity: 0; }
  .timer { bottom: 120px; width: 204px; height: 50px; line-height: 3.125rem; font-size: 1.75rem; }
  .copy { bottom: 54px; width: 516px; height: 52px; font-size: 0.75rem; line-height: 1.625rem; } }

@media screen and (min-width: 768px) and (max-width: 1279px) { #headBox { height: 122px; padding-top: 2rem; }
  nav { width: 700px; height: 58px; }
  nav h1 { width: 58px; height: 58px; }
  nav ul { width: 332px; }
  nav ul li { margin-right: 2.0625rem; width: 58px; height: 58px; line-height: 3.4375rem; font-size: 12px; }
  #mainBox ul { width: 700px; height: 200px; }
  #mainBox ul li { width: 490px; height: 170px; }
  #mainBox ul li:nth-child(3) { width: 700px; }
  #mainBox ul h2 { font-size: 7rem; }
  #mainBox ul h2:after, #mainBox ul h2::after { content: ""; display: block; bottom: -0.625rem; width: 450px; height: 20px; }
  #mainBox ul li:nth-child(3) h2:after, #mainBox ul li:nth-child(3) h2::after { width: 700px; }
  #mainBox p { top: 64%; left: 50%; transform: translate(-50%, -50%); width: 800px; height: 30px; }
  #mainBox div { left: 0; right: 0; bottom: 60px; width: 50px; height: 34px; }
  #mainBox div a { font-size: 1.25rem; line-height: 2.125rem; }
  #aboutBox h2 { top: 18.75rem; right: 5.625rem; font-size: 10rem; width: 420px; height: 240px; opacity: 0; }
  #aboutBox h2:after, #aboutBox h2::after { content: ""; display: block; bottom: 20px; width: 420px; height: 28px; }
  .about_text { top: 42.5rem; transform: translateY(-50%); left: 5.625rem; width: 436px; height: 128px; line-height: 2rem; opacity: 0; text-align: center; font-size: 1rem; }
  .about_text span { font-size: 1.125rem; display: inline-table; z-index: 100; }
  .about_text span::before { content: ""; display: block; z-index: -1; top: 0; left: 0; }
  #aboutBox h2.action, .about_text.action { left: 0; right: 0; margin: auto; opacity: 1; }
  .fix_menu { right: 34px; }
  .fix_menu.real_fix { right: 34px; }
  #aboutCon { padding-top: 4.5rem; }
  .about_list { width: 700px; height: 660px; margin: auto; }
  .about_list ul li { width: 50%; }
  .about_list ul li:nth-of-type(2) { width: 480px; }
  .about_list ul li:nth-of-type(2) dd { height: 580px; }
  .about_list ul li:last-child { float: right; }
  .about_list ul li dt { margin-bottom: 2rem; }
  .about_list ul li dl { height: auto; }
  .about_list ul li dl dt { height: 106px; font-size: 5rem; }
  .about_list ul li dl dt p { font-size: 1rem; color: #777; line-height: 0; }
  .about_list ul li dl dd { height: auto; font-size: 0.875rem; line-height: 1.75rem; }
  .about_list ul li dl dd span { font-size: 0.625rem; }
  .history { position: absolute; top: 360px; left: 50%; transform: translateX(-50%); }
  .history div { top: -100%; left: 50%; transform: traslateX(-50%); width: 1px; height: 500px; }
  .history ul li { width: 100%; height: 72px; font-size: 0.875rem; line-height: 0; margin-bottom: 0.875rem; }
  .history ul li:nth-child(2n) { text-align: right; }
  .history ul li:nth-child(2n) span { margin-right: 273px; margin-left: 0; }
  .history ul li:nth-child(2n) p { margin-left: -50%; }
  .history ul li p { width: 42%; margin-right: -50%; line-height: 1.25rem; }
  #aboutCon_02 { padding-top: 4.5rem; }
  #aboutCon_02 h2 { height: auto; font-size: 6.25rem; margin-bottom: 4.25rem; }
  #aboutCon_02 h2 p { font-size: 1rem; line-height: 0; }
  #aboutCon_02 dl { height: 244px; }
  #aboutCon_02 dl:first-of-type { height: 360px; }
  #aboutCon_02 dl dt { height: 32px; margin-bottom: 2.25rem; font-size: 1.5rem; }
  #aboutCon_02 dl dd { height: 162px; }
  #aboutCon_02 dl dd ul li { width: 108px; margin-right: 40.4px; }
  #aboutCon_02 dl dd ul li:nth-child(4), #aboutCon_02 dl dd ul li:last-child { margin-right: 0; }
  #aboutCon_02 dl dd ul li div { width: 104px; height: 104px; }
  #aboutCon_02 dl dd ul li p { margin-top: 1rem; }
  .my_can + em { top: 36px; left: 50%; transform: translateX(-50%); font-size: 1.5rem; }
  .my_can + em span { font-size: 0.75rem; }
  .pub { width: 558px; margin: auto; margin-bottom: 5rem; }
  .des { width: 408px; margin: auto; }
  #workBox h2 { top: 700px; font-size: 10rem; width: 420px; height: 200px; opacity: 0; }
  #workBox h2:after, #workBox h2::after { content: ""; display: block; bottom: -24px; width: 420px; height: 28px; }
  #workBox dl { right: 90px; bottom: 108px; width: 300px; height: 108px; text-align: right; }
  #workBox dl dt { height: 28px; font-size: 1.25rem; margin-bottom: 1.75rem; }
  #workBox dl dd { height: 64px; padding-left: 12.125rem; }
  #workBox dl dd a { display: block; width: 74px; height: 28px; margin-bottom: 0.5rem; font-size: 1rem; text-align: right; }
  #workBox dl dd a:last-child { width: 60px; margin-bottom: 0; }
  #workCon { height: auto; }
  #workCon > ul { height: auto; }
  #workCon > ul > li:last-child { margin-right: 0; }
  #workCon > ul > li > dl { padding-top: 4.5rem; }
  #workCon > ul > li > dl > dt { height: 10%; font-size: 70px; margin-bottom: 100px; }
  #workCon > ul > li > dl > dd { width: 620px; height: 60%; }
  .project_img { width: 620px; height: 440px; }
  .project_img:hover { background-size: 108%; }
  .project_text { width: 100%; height: auto; }
  .project_text dl dt { width: 200%; height: auto; font-size: 1.875rem; line-height: 1.5rem; padding-left: 0.75rem; padding-top: 1.5rem; }
  .project_text dl dt span { font-size: 1rem; line-height: 0; }
  .project_text dl dd { width: 200%; height: 200px; padding-left: 0.75rem; padding-top: 1.5rem; }
  .project_text dl dd a { display: block; width: 162px; height: 42px; line-height: 42px; font-size: 1.25rem; margin-top: 1.5rem; }
  .project_text dl dd a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .project_text dl dd a:hover { border: 2px solid #1d1d1d; line-height: 38px; }
  #footBox ul { width: 290px; height: 100px; }
  #footBox ul li { height: 48px; margin-bottom: 0.625rem; }
  #footBox ul li:last-child { margin-bottom: 0; }
  #footBox ul li a { font-size: 1.25rem; line-height: 3.125rem; }
  #footBox ul li a::before { content: ""; bottom: 0; height: 1.2px; opacity: 0; }
  .timer { bottom: 120px; width: 204px; height: 50px; line-height: 3.125rem; font-size: 1.75rem; }
  .copy { bottom: 54px; width: 516px; height: 52px; font-size: 0.75rem; line-height: 1.625rem; } }

@media screen and (max-width: 767px) { #headBox { height: 90px; padding-top: 2rem; }
  nav { width: 456px; height: 58px; }
  nav h1 { width: 58px; height: 58px; }
  nav ul { width: 332px; }
  nav ul li { margin-right: 2.0625rem; width: 58px; height: 58px; line-height: 3.4375rem; font-size: 0.625rem; }
  #mainBox ul { width: 456px; height: 200px; }
  #mainBox ul li { width: 456px; height: 120px; }
  #mainBox ul h2 { font-size: 5.5rem; }
  #mainBox ul h2:after, #mainBox ul h2::after { content: ""; display: block; bottom: -0.625rem; width: 400px; height: 12px; left: 50%; transform: translateX(-50%); }
  #mainBox p { top: 66%; left: 50%; transform: translate(-50%, -50%); width: 456px; height: 30px; font-size: 0.75rem; }
  #mainBox div { left: 0; right: 0; bottom: 1.75rem; width: 50px; height: 34px; }
  #mainBox div a { font-size: 1rem; line-height: 2.125rem; }
  #aboutBox h2 { top: 7.5rem; right: 5.625rem; font-size: 5.5rem; width: 420px; height: 120px; opacity: 0; }
  #aboutBox h2:after, #aboutBox h2::after { content: ""; display: block; bottom: 10px; width: 440px; height: 16px; }
  .about_text { top: 25rem; transform: translateY(-50%); left: 5.625rem; width: 320px; height: 128px; line-height: 2rem; opacity: 0; font-size: 12px; text-align: center; }
  .about_text span { font-size: 0.875rem; display: inline-table; z-index: 100; }
  .about_text span::before { content: ""; display: block; z-index: -1; top: 0; left: 0; }
  #aboutBox h2.action, .about_text.action { left: 0; right: 0; margin: auto; opacity: 1; }
  .fix_menu { right: 34px; }
  .fix_menu ul > li { width: 60px; }
  .fix_menu ul > li a { font-size: 0.75rem; }
  .fix_menu.real_fix { right: 34px; }
  #aboutCon { padding-top: 2rem; }
  .about_list { width: 456px; height: 660px; margin: auto; }
  .about_list ul li { width: 50%; height: auto; }
  .about_list ul li:nth-of-type(2) { width: 456px; }
  .about_list ul li:nth-of-type(2) dd { height: 338px; }
  .about_list ul li:last-child { float: right; }
  .about_list ul li dt { margin-bottom: 1rem; }
  .about_list ul li dl { height: auto; }
  .about_list ul li dl dt { height: 60px; font-size: 3rem; }
  .about_list ul li dl dt p { font-size: 0.625rem; color: #777; line-height: 0; }
  .about_list ul li dl dd { height: auto; font-size: 0.625rem; line-height: 1.75rem; }
  .about_list ul li dl dd span { font-size: 0.625rem; }
  .history { position: absolute; top: 220px; left: 50%; transform: translateX(-50%); }
  .history div { top: -100%; left: 50%; transform: traslateX(-50%); width: 1px; height: 500px; }
  .history ul li { width: 100%; height: 44px; font-size: 10px; line-height: 0; margin-bottom: 10px; }
  .history ul li:nth-child(2n) { text-align: right; }
  .history ul li:nth-child(2n) span { margin-right: 273px; margin-left: 0; }
  .history ul li:nth-child(2n) p { margin-left: -50%; }
  .history ul li p { width: 42%; margin-right: -50%; line-height: 1.25rem; }
  #aboutCon_02 { padding-top: 2rem; }
  #aboutCon_02 h2 { height: auto; font-size: 5.5rem; margin-bottom: 4.25rem; }
  #aboutCon_02 h2 p { font-size: 0.625rem; line-height: 0; }
  #aboutCon_02 dl { height: 244px; }
  #aboutCon_02 dl:first-of-type { height: 360px; }
  #aboutCon_02 dl dt { height: 32px; margin-bottom: 2.25rem; font-size: 1rem; }
  #aboutCon_02 dl dd { height: 162px; }
  #aboutCon_02 dl dd ul li { width: 108px; margin-right: 40.4px; }
  #aboutCon_02 dl dd ul li:nth-child(4), #aboutCon_02 dl dd ul li:last-child { margin-right: 0; }
  #aboutCon_02 dl dd ul li div { width: 104px; height: 104px; }
  #aboutCon_02 dl dd ul li p { margin-top: 1rem; }
  .my_can + em { top: 36px; left: 50%; transform: translateX(-50%); font-size: 1.5rem; }
  .my_can + em span { font-size: 0.75rem; }
  .pub { width: 558px; margin: auto; margin-bottom: 5rem; }
  .des { width: 408px; margin: auto; }
  #workBox h2 { top: 456px; font-size: 5rem; width: 420px; height: 120px; opacity: 0; }
  #workBox h2:after, #workBox h2::after { content: ""; display: block; bottom: 10px; width: 440px; height: 16px; }
  #workBox dl { right: 50px; bottom: 5rem; width: 300px; height: 108px; text-align: right; }
  #workBox dl dt { height: 28px; font-size: 1rem; margin-bottom: 1rem; }
  #workBox dl dd { height: 64px; padding-left: 12.125rem; }
  #workBox dl dd a { display: block; width: 74px; height: 28px; margin-bottom: 0.25rem; font-size: 1rem; text-align: right; }
  #workBox dl dd a:last-child { width: 60px; margin-bottom: 0; }
  #workCon { height: auto; }
  #workCon > ul { height: auto; }
  #workCon > ul > li:last-child { margin-right: 0; }
  #workCon > ul > li > dl { padding-top: 2rem; }
  #workCon > ul > li > dl > dt { height: 10%; font-size: 3rem; margin-bottom: 3.75rem; }
  #workCon > ul > li > dl > dd { width: 380px; height: 60%; }
  .project_img { width: 380px; height: 240px; }
  .project_img:hover { background-size: 108%; }
  .project_text { width: 100%; height: auto; }
  .project_text dl dt { width: 200%; height: auto; font-size: 1.5rem; line-height: 1.5rem; padding-left: 0.625rem; padding-top: 1rem; }
  .project_text dl dt span { font-size: 1rem; line-height: 0; }
  .project_text dl dd { width: 200%; height: 200px; padding-left: 0.625rem; padding-top: 1rem; }
  .project_text dl dd p { font-size: 12px; }
  .project_text dl dd a { display: block; width: 162px; height: 42px; line-height: 42px; font-size: 1rem; margin-top: 1.5rem; }
  .project_text dl dd a > span { position: absolute; z-index: -1; display: block; width: 0; height: 0; overflow: hidden; }
  .project_text dl dd a:hover { border: 2px solid #1d1d1d; line-height: 38px; }
  #footBox ul { width: 290px; height: 100px; }
  #footBox ul li { height: 40px; margin-bottom: 0.625rem; }
  #footBox ul li:last-child { margin-bottom: 0; }
  #footBox ul li a { font-size: 1rem; line-height: 2.5rem; }
  #footBox ul li a::before { content: ""; bottom: 0; height: 1.2px; opacity: 0; }
  .timer { bottom: 120px; width: 204px; height: 50px; line-height: 3.125rem; font-size: 1.5rem; }
  .copy { bottom: 54px; width: 516px; height: 52px; font-size: 0.625rem; line-height: 1.25rem; } }
