// main.scss
/* main.css */
@import './_base/_var';
@import './_base/_mixin';
//------------------------------------------------------------------------------
@import "_temp/_mobile";
@import "_temp/_tablet";
@import "_temp/_pc_default";
@import "_temp/_pc_full";

//------------------------------------------------------------------------------
article,
footer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
h2 {
    text-align: center;
    text-transform: capitalize;
}
h3 {
    text-transform: capitalize;
}
article:nth-of-type(2n) {
    background-color: $beige;
}

footer {
    background-color: $black;
}


//------------------------------------------------------------------------------
#headBox {
    @include flex ($ai : flex-end);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    nav {
        @include flex ($jc : space-between);
        h1 {
            @include background ('../img/logo.png',50%,50%);
            height: 100%;
            a {
                @include link;
            }
        }
        ul {
            @include flex ($jc : space-between);
            li {
                height: 100%;
                border-radius: 100%;
                box-sizing: border-box;
                &:last-of-type {
                    position: relative;
                    border: 1.5px solid $beige;
                    transition: all .8s ease;
                    &.menu-act {
                        transform: rotate(360deg);
                    }
                    button {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 1500;
                        transform: translate(-50%, -50%);
                        width: 16px;
                        height: 12px;
                        
                        span {
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            border-radius: 0.0625rem;
                            background-color: $white;
                            transition: all 0.5s ease;
                        }
                        span:nth-child(1) {
                            top: 0;
                        }
                        span:nth-child(2) {
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        span:nth-child(3) {
                            bottom: 0;
                        }
                        &.menu-act span:nth-child(1) {
                            top: 50%;
                            transform: translateY(-50%) rotate(45deg);
                        }
                        &.menu-act span:nth-child(2) {
                            opacity: 0;
                        }
                        &.menu-act span:nth-child(3) {
                            bottom: 50%;
                            transform: translateY(50%) rotate(-45deg);
                        }
                    }
                }
                a {
                    @include link;
                    border: 1.5px solid $black;
                    box-sizing: border-box;
                    border-radius: inherit;
                    color: $beige;
                    font-size: 0.75rem;
                    font-weight: 600;
                    text-align: center;
                    transition: all 0.8s ease;
                    &:focus,
                    &:hover {
                        border: 1.5px solid $beige;
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}
.menu-modal {
    display: none;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    ul {
        @include flex($fd: column);
        width: 100%;
        height: 100%;
        li {
            &:nth-of-type(2) {
                margin: 2rem 0;
            }
            a {
                @include link;
                color: $white;
                font-size: 1rem;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}
//------------------------------------------------------------------------------
#canv{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
}

//------------------------------------------------------------------------------
#mainContainer {
    top: 0;
    left: 0;
    overflow-x: hidden;
    perspective: 2000px;
    background-color: transparent;
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
        
        transform-style: preserve-3d;
        animation: main-animation 7s infinite ease alternate;
        p:last-of-type {
            font-weight: normal;
            text-transform: capitalize;
            text-shadow: 0 0 .8px $text-shadow;
            animation: main-animation-2 9s infinite ease;
        }
        span {
            font-weight: normal;
            text-transform: none;
            text-shadow: 0 0 1.5px $text-shadow;
        }
        em {
            display: block;
            
        }
        em:first-of-type {
            text-transform: capitalize;
            text-shadow: 0 0 1.5px $text-shadow;
            animation: t-z 8s infinite ease alternate;
        }
        em:last-of-type {
            text-shadow: 0 0 3.5px $text-shadow;
            animation: t-z 6s infinite ease alternate-reverse;
        }
    }
    div:hover {
        transform: translate(-50%, -50%);
        animation-play-state: paused;
        em,
        p {
            animation-play-state: paused;
        }
    }

    a {
        @include flex($fd: column);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
        text-transform: capitalize;
        animation: bounce 1s linear infinite alternate;
        em {
            display: block;
        }
        i {
            transform: rotate(90deg);
            line-height: 0.5rem;
        }
    }
}

//------------------------------------------------------------------------------
#aboutTitle {
    div {
        text-align: left;
        &:first-of-type {
            font-weight: bold;
        }
        strong {
            text-transform: capitalize;
        }
        span {
            font-weight: bold;
        }
    }
    > button {
        display: none;
        position: fixed;
        z-index: 2000;
        bottom: 2.5rem;
        right: 2.5rem;
        width: 48px;
        height: 48px;
        box-sizing: content-box;
        background-color: $black;
        border-radius: 0.5rem;
        color: $white;
        text-align: center;
        text-transform: capitalize;
        line-height: 2.5rem;
        transition: all .3s ease;
        &:hover, &:focus {
            background-color: $navy;
            animation: bounce .5s ease infinite alternate;
        }
    }
}

//------------------------------------------------------------------------------
#aboutContainer {
    @include flex;
}
.about-content {
    @include flex($jc: space-between);
}
.skill-box {
    @include flex($jc: space-between, $fd: column);
    h3 {
        width: 100%;
        text-align: left;
    }
    ul {
        @include flex($jc: flex-start, $ai: flex-start);
        overflow: hidden;
        flex-flow: row wrap;
        li {
            position: relative;
            left: -100%;
            background-color: $black;
            color: $white;
            font-weight: 600;
            text-align: center;
            transition: all .5s ease;
        }
    }
    &.scroll-act {
        @for $i from 0 to 12 {
            li:nth-of-type(#{$i}) {
                transition-delay: #{.1 * $i}s;
                left: 0;
            }
        }
    }
}
.history-box {
    @include flex($jc: space-between, $fd: column);
    h3 {
        width: 100%;
        text-align: left;
    }
    ul {
        @include flex($jc: space-between, $fd: column);
        overflow: hidden;
        li {
            position: relative;
            right: -100%;
            background-color: $beige;
            color: $black;
            transition: all .5s ease;
            dl {
                @include flex($jc: flex-start);
                width: 100%;
                height: 100%;
                dt {
                    font-weight: bold;
                    text-align: left;
                }
            }
        }
    }
    &.scroll-act {
        @for $i from 0 to 6 {
            li:nth-of-type(#{$i}) {
                transition-delay: #{.2 * $i}s;
                right: 0;
            }
        }
    }
}

//------------------------------------------------------------------------------
#workTitle {
    p {
        margin: auto;
        font-weight: 600;
        text-align: left;
    }
}
.work-link {
    margin: auto;
    dl {
        font-weight: bold;
        text-align: right;
        text-transform: capitalize;
        dd {
            @include flex($jc: space-between, $ai: flex-end, $fd: column);
            a {
                transition: all .2s ease;
                &:focus,
                &:hover {
                    color: $navy;
                    text-decoration: underline;
                }

            }
        }
    }
}

//------------------------------------------------------------------------------

#workContainer {
    @include flex ($fd: column);
    @include all-btn;            
    $work-count: 3;
    ul {
        position: absolute;
        width: 100%;
        height: 100%;
        li {
            @include flex($jc: space-between, $ai: flex-start);
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @for $i from 1 to $work-count + 1 {
                &:nth-of-type(#{$i}) > div:first-of-type {
                    background-image: url('../img/project/project_0'+ $i +'.jpg');
                }
            }
            div:first-of-type {
                float: left;
                background-position: 50% 50%;
                background-size: 480%;
                background-repeat: no-repeat;
                transition: all 1s ease;
                &:hover {
                    background-size: 100%;
                }
            }
            > div:last-of-type {
                float: right;
                box-sizing: border-box;
                background-color: $beige;
                @include port-btn($selector: a,$c: $white);
                a {
                    display: flex;
                }
            }
        }
    }
    &.click-active {
        display: block;
        height: 100% * $work-count;
        .work-list-box {
            height: 80% * $work-count;
            ul {
                box-sizing: border-box;
                height: 100%;
                li {
                    height: 100% / $work-count;
                }
            }
        }
    }
}
.work-list-box {
    position: relative;
    overflow: hidden;
}
.port-btn {
    @include flex($jc: space-between, $ai: flex-start);
    flex-flow: row wrap;
    position: absolute;
    @include port-btn($selector: button);
    button {
        &:first-of-type {
            transform: rotate(180deg);
        }
    }
}
.port-text {
    P {
        font-weight: 600;
        strong {
            font-weight: bold;
        }
        em {
            display: block;
        }
    }

    div {
        @include flex($jc: space-between);
        font-weight: bold;
        text-transform: uppercase;
    }
}
#workContainer .work-list-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(6, 6, 6, .8);
    .close-btn {
        display: block;
        position: absolute;
        z-index: 2000;
        top: 1.5rem;
        right: 2.5rem;
        width: 28px;
        height: 28px;
        background-color: $white;
        span {
            @include center;
            width: 24px;
            height: 2.5px;
            background-color: $black;
            &:first-of-type {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &:last-of-type {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
    .work-list-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 1rem;
        background-color: $white;
        transition: all 1.2s ease;
        ul {
            overflow-y: hidden;
            overflow-y: scroll;
            
            li {
                display: block;
                position: static;
            }
        }
        .port-btn {
            display: none;
        }
        .port-text {
            text-align: left;
            background-color: $white;
            a {
                background-color: $beige;
            }
        }
    }
    &.modal-active {
        .work-list-box {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}
//------------------------------------------------------------------------------
#footBox {
    @include flex ($fd: column, $jc: space-between);
    color: $white;
    a {
        color: $white;
        font-weight: 600;
        text-align: center;
    }
    div {
        text-align: center;
    }
}

//------------------------------------------------------------------------------

@include pc_full;
@include pc_default;
@include tablet;
@include mobile;