// main.scss
/* main.css */
@import './_base/mixin';
//------------------------------------------------------------------------------
@import "_temp/_mobile";
@import "_temp/_tablet";
@import "_temp/_pc_default";
@import "_temp/_pc_full";

//------------------------------------------------------------------------------
#wrap{width:100%;height:auto;min-width:380px;min-height:100%;margin:auto;overflow-x:hidden;}
article,footer{width:100%;height:100vh;}
section{width:100%;height:auto;}

//------------------------------------------------------------------------------
::-webkit-scrollbar{width:8px;height:8px;border:3px solid #060606;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{display:block;height:10px;background-color:#333;}
::-webkit-scrollbar-track {background:#1d1d1d;}
::-webkit-scrollbar-thumb {height:50px;width:50px;background-color:#777;}

//------------------------------------------------------------------------------
#headBox{float:left;position:relative;z-index:300;width:100%;background-color:transparent;box-sizing:border-box;transition:all 1s ease;}
    nav{margin:auto;
        h1{float:left;@include bg("../img/logo.png",50%,50%);
            a{@include link;}
        }
        ul{float:right;height:100%;
            li{float:left;background-color:transparent;border:1.5px solid #060606;box-sizing:border-box;border-radius:100%;font-weight:normal;transition:all .8s ease;
                a{@include link;text-align:center;color:#e0e0e0;font-weight:bold;border-radius:100%;}
                &:hover{border:1.5px solid #fff;transform:rotate(360deg);a{color:#fff;}}
            }
            li:last-child{margin-right:0;}
    }}

//------------------------------------------------------------------------------
#mainBox{position:relative;background-color:#060606;
    ul{@include center;
        li{@include center;}
        h2{color:#fff;width:100%;height:100%;}
        h2:after,h2::after{content:"";display:block;position:absolute;@include bg("../img/border_bottom_w.png",50%,50%);}
    }
    p{position:absolute;color:#fff;text-align:center;}
    div{position:absolute;left:0;right:0;margin:auto;animation:bounce .5s ease infinite alternate;
        a{@include link;color:#ccc;text-align:center;}
    }
    @keyframes bounce {100%{bottom:54px;}}
}

//------------------------------------------------------------------------------
#aboutBox{position:relative;background-color:#e0e0e0;overflow:hidden;
    h2{position:absolute;text-align:center;opacity:0;transition:all 1.5s ease;}
    h2:after,h2::after{content:"";display:block;position:absolute;@include bg("../img/border_bottom_b.png",50%,50%,contain);}
}
    .about_text{position:absolute;opacity:0;transition:all 3s ease;
        span{font-weight:bold;display:inline-table;position:relative;z-index:100;overflow:hidden;}
        span::before{content:"";display:block;position:absolute;z-index:-1;top:0;left:-100%;width:100%;height:100%;background-color:rgba(238,244,0,.4);transition:all .8s ease;}
        span:nth-of-type(2)::before{transition:all 1.2s ease;}
        &:hover span::before{left:0;}
    }
    .fix_menu{position:absolute;z-index:1000;top:50%;transform:translateY(-50%);right:60px;opacity:0;transition:all 1s ease;
        ul{width:80px;height:100%;
            li{float:right;position:relative;width:100%;
                &:last-child{margin-bottom:0;
                    span{left:0;}
                }
                span{position:absolute;top:50%;transform:translateY(-50%);left:10px;display:none;width:6px;height:6px;border-radius:100%;background-color:#666;display:none;}
                a{@include link(80px,100%);float:right;color:#666;text-align:right;line-height:1.25rem;transition:all .5s ease;
                    &:hover{margin-right:5px;}
    }}}}
    
    .fix_menu.real_fix{position:fixed;right:60px;opacity:1;}

//------------------------------------------------------------------------------
#aboutCon{position:relative;box-sizing:border-box;}
.about_list{margin:auto;
    ul{width:100%;height:100%;
        li{float:left;height:100%;
            dl{width:100%;height:100%;
                dt{width:100%;height:16%;text-align:center; p{font-family:'Open Sans';color:#777;font-style:normal;}}
                dd{width:100%;height:82%;text-align:center;}
}}}}
.history{dd{position:relative;overflow:hidden;}
    div{position:absolute;top:-100%;left:50%;transform:traslateX(-50%);height:100%;background-color:#1d1d1d;opacity:0;transition:all 2s ease;}
    ul{width:100%;height:100%;
        li{float:right;width:100%;text-align:left;
            &:nth-child(2n){text-align:right;p{float:left;margin-left:-50%;}}
            p{height:auto;float:right;margin-right:-50%;opacity:0;transition:all 1.5s ease; strong{display:block;height:auto;}}
            @for $i from 1 through 5 {&:nth-child(#{$i}) p{transition-delay:#{$i/4}s;}}
}}}
.history div.action{top:0;opacity:1;}
.history li p.action{margin-right:0;opacity:1;}
.history li:nth-child(2n) p.action{margin-left:0;}

//------------------------------------------------------------------------------
#aboutCon_02{position:relative;padding-top:5.5rem;box-sizing:border-box;
    h2{width:100%;height:auto;text-align:center; p{font-family:'Open Sans';color:#777;} }
    dl{text-align:center;color:#060606;
        dt{width:100%;height:32px;margin-bottom:3.25rem;font-weight:bold;}
        dd{width:100%;height:162px;text-align:center;
            ul{width:100%;height:100%;font-family:'Open Sans';font-weight:bold;
                li{position:relative;float:left;height:100%;&:last-child{margin-right:0;} div{margin:auto;} p{width:100%;}}
}}}}
.my_can+em{position:absolute;top:36px;left:50%;transform:translateX(-50%);font-style:normal;text-align:center;}

//------------------------------------------------------------------------------
#workBox{position:relative;background-color:#e0e0e0;
    h2{position:absolute;@include center;text-align:center;opacity:0;transition:all 1.5s ease;}
    h2:after,h2::after{content:"";display:block;position:absolute;@include bg("../img/border_bottom_b.png",50%,50%,contain);}
    dl{position:absolute;text-align: right;
        dt{width:100%;font-weight:bold;}
        dd{width:100%;box-sizing:border-box;
            a{float:right;display:block;text-align:right;}
            a:last-child{margin-bottom:0;}
}}}
#workBox h2.action{opacity:1;@include center;}

//------------------------------------------------------------------------------
#workCon{position:relative;height:auto;
    >ul{width:100%;height:auto;margin:auto;
        >li{width:100%;height:100vh;
            &:last-child{margin-right:0;}
            >dl{width:100%;height:100%;padding-top:68px;box-sizing:border-box;
                >dt{width:100%;height:10%;text-align:center;margin-bottom:100px;}
                >dd{width:70%;height:60%;margin:auto;
                    >div{float:left;}
}}}}}
.project_img{position:relative;width:50%;height:100%;overflow:hidden;transition:all 1.6s ease;
    &:hover{background-size:108%;}
}
.project_01_img{@include bg("../img/project/project_01.jpg",50%,50%,400%);}
.project_02_img{@include bg("../img/project/project_02.jpg",50%,50%,400%);}
.project_text{width:50%;height:100%;
    dl{width:100%;height:100%;
        dt{width:100%;height:20%;font-weight:bold;box-sizing:border-box;}
        dd{width:100%;height:80%;box-sizing:border-box;
            a{text-align:center;background-color:#1d1d1d;color:#fff;
                &:hover{background-color:#fff;color:#1d1d1d;border:2px solid #1d1d1d;box-sizing:border-box;}
}}}}

//------------------------------------------------------------------------------
#footBox{position:relative;background-color:#060606;
    ul{@include center;height:100px;
        li{position:relative;width:100%;overflow:hidden;
            &:last-child{margin-bottom:0;}
            a{color:#fff;
                &::before{content:"";position:absolute;bottom:0;width:100%;height:1.2px;background-color:#ee0;opacity:0;transition:all 1s ease;}
            }
            &:nth-child(1) a::before{left:-100%;}
            &:nth-child(2) a::before{left:100%;}
            &:hover a:before{left:0;opacity:1;}

}}}
    .timer{position:absolute;left:50%;transform:translateX(-50%);color:#fff;font-weight:lighter;text-align:center;}
    .copy{position:absolute;left:50%;transform:translateX(-50%);color:#fff;text-align:center;}
//------------------------------------------------------------------------------
@include pc_full;
@include pc_default;
@include tablet;
@include mobile;
