@mixin mobile {
    @media screen and (max-width:767px) {
        @content;

        //------------------------------------------------------------------------------
        h2 {
            font-size: nth($h2-size,3);
        }
        h3 {
            font-size: nth($h3-size,3);
        }

        //------------------------------------------------------------------------------
        #headBox {
            height: 64px;
            nav {
                width: 356px;
                height: 40px;
                h1 {
                    width: 40px;
                    height: 40px;
                }
                ul {
                    width: 40px;
                    li {
                        &:not(:last-of-type) {
                            display: none;
                        }
                        width: 40px;
                        height: 40px;
                        line-height: 2.5rem;
                    }
                }
            }
        }

        //------------------------------------------------------------------------------
        #mainContainer {
            div {
                transform: translate(-50%, -50%);
            }
                
            p:first-of-type {
                font-size: 1.25rem;
                em:first-of-type {
                    margin-bottom: 0.75rem;
                    text-shadow: 0 0 .5px rgba(255, 255, 255, .4);
                }
                em:last-of-type {
                    margin-bottom: 0.75rem;
                    font-size: 2.5rem;
                    line-height: 3.75rem;
                    text-shadow: 0 0 .15px rgba(255, 255, 255, .4);
                }
                span {
                    text-shadow: 0 0 .5px rgba(255, 255, 255, .4);
                }
            }
            a {
                display: none;
                bottom: 1.25rem;
                animation: none;
                em {
                    margin-bottom: 0.5rem;
                }
            }
            div p:last-of-type {
                font-size: 0.625rem;
                text-shadow: 0 0 .25px rgba(255, 255, 255, .4);
            }
        }
        //------------------------------------------------------------------------------
        #aboutTitle {
            padding-top: 5rem;
        }
        .about-text {
            margin: 5rem auto 0;
            width: 336px;
            height: 310px;
            font-size: 0.875rem;
            div:first-of-type {
                margin-bottom: 4rem;
                line-height: 2rem;
            }
            div:last-of-type {
                line-height: 2rem;
            }
            span {
                font-size: 1.25rem;
            }
        }

        //------------------------------------------------------------------------------
        #aboutContainer {
            height: 1200px;
        }
        .about-content {
            @include flex ($jc: space-between, $fd: column);
            width: 356px;
            h3 {
                width: 356px;
            }
        }
        .skill-box {
            margin-bottom: 3.5rem;
            width: 356px;
            height: 552px;
            ul {
                width: 100%;
                height: 480px;
                li {
                    margin: 0 1rem 1rem 0;
                    width: 108px;
                    height: 108px;
                    font-size: 0.75rem;
                    line-height: 6.75rem;
                    &:nth-child(3n) {
                        margin: 0;
                    }
                }
            }
        }
        .history-box {
            width: 356px;
            height: 518px;
            ul {
                width: 100%;
                height: 446px;
                li {
                    width: 100%;
                    height: 76px;
                    dl {
                        dt {
                            margin: 0 3.5rem 0 1.25rem;
                            width: 80px;
                            font-size: 0.875rem;
                        }
                        dd {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
        //------------------------------------------------------------------------------
        #workTitle {
            padding-top: 5rem;
            h2 {
                margin-bottom: 1.5rem;
            }
            p {
                width: 182px;
                line-height: 1.5rem;
            }
        }
        .work-link {
            position: absolute;
            left: 50%;            
            transform: translateX(-50%);
            bottom: 2rem;
            width: 332px;
            dl {
                width: 100%;
                dt {
                    font-size: 1.25rem;
                    margin-bottom: 1rem;
                }
                dd {
                    a:first-of-type {
                        margin-bottom: .75rem;
                    }
                }
            }
        }

        //------------------------------------------------------------------------------
        #workContainer {
            min-height: 640px;
            h3 {
                margin-bottom: 1rem;
                width: 356px;
            }
            >button {
                width: 200px;
                height: 40px;
                span {
                    font-size: 0.875rem;
                    line-height: 2.5rem;
                }
            }
            ul {
                li {
                    flex-direction: column;
                    justify-content: start;
                    div:last-of-type {
                        @include port-btn($selector: a, $wh: 32px, $c: #fff);
                    }
                }
            }
        }
        .work-list-box {
            margin-bottom: 2.5rem;
            width: 356px;
            height: 456px;
        }
        // --------------------------------------------------
        $count: 3;
        #workContainer .work-list-modal .work-list-box {
            width: 356px;
            height: 90%;
            ul {
                padding-top: 3.5rem;
                width: 356px;
                height: 100%;
                li {
                    margin: auto;
                    height: 148px;
                    margin: 2rem 0;
                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }
            .port-img {
                width: 356px;
                height: 160px;
            }
            .port-text {
                padding: .5rem .5rem;
                width: 356px;
                height: 160px;
                p {
                    margin-bottom: 1rem;
                }
            }
            .close-btn {
                top: 1rem;
                right: 1rem;
                border-radius: .5rem;
                span {
                    width: 16px;
                    height: 2.2px;
                }
            }
        }
        // --------------------------------------------------
        .port-btn {
            right: 1.5rem;
            bottom: 2rem;
            width: 80px;
            height: 0;
            @include port-btn($selector: button, $wh: 32px);
        }
        .port-img {
            width: 100%;
            height: 252px;
            margin-bottom: 0.75rem;
        }
        .port-text {
            padding: 1rem 0 0 1rem;
            width: 100%;
            height: 148px;
            p {
                font-size: 0.75rem;
                margin-bottom: .75em;
                strong {
                    display: inline-block;
                    margin-bottom: .5rem;
                    font-size: 1rem;
                }
                em {
                    display: inline-block;
                    font-size: 0.75rem;
                   
                }
            }
            div {
                width: 112px;
                height: 32px;
                font-size: 0.75rem;
                line-height: 2.25rem;
            }
        }


        //------------------------------------------------------------------------------
        #footBox {
            padding: 5rem 0 4rem;
        }
        .my-contact {
            width: 240px;
            ul {
                width: 100%;
                height: 100%;
                li {
                    width: 100%;
                    a {
                        @include link;
                        &:first-of-type {
                            margin-bottom: 1.75rem;
                        }
                    }
                }
            }
        }
        .copy-right {
            font-size: 0.75rem;
            line-height: 1.5rem;
        }

        //------------------------------------------------------------------------------
    }
}
