@mixin mobile {
    @media screen and (max-width:767px) {
        @content;
        #headBox{height:90px;padding-top:1.5rem;}
        nav{width:100%;height:58px;padding:0 0.75rem;box-sizing:border-box;
            h1{width:48px;height:48px;margin-top:5px;}
            ul{width:auto;
                li{margin-right:1rem;width:58px;height:58px;line-height:3.4375rem;font-size:0.625rem;
        }}}

//------------------------------------------------------------------------------
        #mainBox{
            ul{width:380px;height:200px;
                li{width:380px;height:120px; &:last-child{h2{font-size:5rem;}}}
                h2{font-size:5.5rem;}
                h2:after,h2::after{content:"";display:block;bottom:-0.625rem;width:350px;height:12px;left:50%;transform:translateX(-50%);}
            }
            p{top:66%;left:50%;transform:translate(-50%,-50%);width:380px;height:30px;font-size:0.75rem;}
            div{left:0;right:0;bottom:1.75rem;width:50px;height:34px;
                a{font-size:1rem;line-height:2.125rem;}
            }
        }

//------------------------------------------------------------------------------
        #aboutBox{
            h2{top:7.5rem;right:5.625rem;font-size:5.5rem;width:380px;height:120px;opacity:0;}
            h2:after,h2::after{content:"";display:block;bottom:10px;width:360px;height:16px;}
        }
            .about_text{top:25rem;transform:translateY(-50%);left:5.625rem;width:320px;height:128px;line-height:1.75rem;opacity:0;font-size:12px;text-align:center;
                span{font-size:0.875rem;display:inline-table;z-index:100;}
                span::before{content:"";display:block;z-index:-1;top:0;left:0;}
            }
            #aboutBox h2.action,.about_text.action{left:0;right:0;margin:auto;opacity:1;}
            .fix_menu{right:1rem; ul>li{width:60px; a{font-size:0.75rem;}}}
            .fix_menu.real_fix{right:1rem;}
//------------------------------------------------------------------------------
        #aboutCon{padding-top:1.75rem;}
        .about_list{width:380px;height:660px;margin:auto;
            >ul{
                >li{width:40%;height:auto; &:nth-of-type(2){width:380px; dd{height:338px;}}
                    &:last-child{width:60%;float:right;}
                    & dt{margin-bottom:1rem;}
                    dl{height:auto;
                        dt{height:60px;font-size:3rem; p{font-size:0.625rem;color:#777;line-height:0;}}
                        dd{height:auto;font-size:0.625rem;line-height:1.125rem; span{font-size:0.625rem;}}
        }}}}
        .history{position:absolute;top:220px;left:50%;transform:translateX(-50%);
            div{top:-100%;left:50%;transform:traslateX(-50%);width:1px;height:500px;}
            ul{
                li{width:100%;height:44px;font-size:10px;line-height:0;margin-bottom:10px;
                    &:nth-child(2n){text-align:right;span{margin-right:273px;margin-left:0;}p{margin-left:-50%;}}
                    p{width:42%;margin-right:-50%;line-height:1.25rem;}
            }}}
        
//------------------------------------------------------------------------------
#aboutCon_02{padding-top:1.75rem;
    h2{height:auto;font-size:5.5rem;margin-bottom:2.25rem; p{font-size:0.625rem;line-height:0;} }
    dl{height:144px; &:first-of-type{height:244px;}
        dt{height:32px;margin-bottom:0;font-size:1rem;}
        dd{height:120px;
            ul{
                li{width:58px;margin-right:40.4px; &:nth-child(4),&:last-child{margin-right:0;} div{width:80px;height:80px;} p{margin-top:1rem;font-size:0.75rem;}}
}}}}
.my_can+em{top:36px;left:50%;transform:translateX(-50%);font-size:0.75rem;span{font-size:0.75rem;}}
.pub{width:380px;margin:auto;margin-bottom:3rem;}
.des{width:258px;margin:auto;}

//------------------------------------------------------------------------------
#workBox{
    h2{top:456px;font-size:5rem;width:420px;height:120px;opacity:0;}
    h2:after,h2::after{content:"";display:block;bottom:10px;width:440px;height:16px;}
    dl{right:50px;bottom:5rem;width:300px;height:108px;text-align: right;
        dt{height:28px;font-size:1rem;margin-bottom:1rem;}
        dd{height:64px;padding-left:12.125rem;
            a{display:block;width:74px;height:28px;margin-bottom:0.25rem;font-size:1rem;text-align:right;}
            a:last-child{width:60px;margin-bottom:0;}
}}}

//------------------------------------------------------------------------------
#workCon{
    >ul{
        >li{
            &:last-child{margin-right:0;}
            >dl{padding-top:1.75rem;
                >dt{height:10%;font-size:3rem;margin-bottom:3.75rem;}
                >dd{width:380px;height:60%;}
}}}}
.project_img{width:380px;height:240px;
    &:hover{background-size:108%;}
}
.project_text{width:100%;height:auto;
    dl{
        dt{width:380px;height:auto;font-size:1.5rem;line-height:1.5rem;padding-left:0.625rem;padding-top:1rem; span{font-size:1rem;line-height:0;}}
        dd{width:380px;height:200px;padding-left:0.625rem;padding-top:1rem;
            p{font-size:12px;}
            a{@include link(162px,42px);line-height:42px;font-size:1rem;margin-top:1.5rem;
                &:hover{border:2px solid #1d1d1d;line-height:38px;}
}}}}

//------------------------------------------------------------------------------
#footBox{
    ul{width:290px;height:100px;
        li{height:40px;margin-bottom:0.625rem;
            &:last-child{margin-bottom:0;}
            a{font-size:1rem;line-height:2.5rem;
                &::before{content:"";bottom:0;height:1.2px;opacity:0;}
}}}}
    .timer{bottom:120px;width:204px;height:50px;line-height:3.125rem;font-size:1.5rem;}
    .copy{bottom:54px;width:516px;height:52px;font-size:0.625rem;line-height:1.25rem;}

//------------------------------------------------------------------------------
    }
}
