@mixin pc_full {
    @media screen and (min-width:1920px) {
        @content;
        #headBox{height:122px;padding-top:4rem;}
        nav{width:1258px;height:58px;
            h1{width:58px;height:58px;}
            ul{width:332px;
                li{margin-right:2.0625rem;width:58px;height:58px;line-height:3.4375rem;font-size:12px;
        }}}

//------------------------------------------------------------------------------
#mainBox{
    ul{width:820px;height:200px;
        li{width:490px;height:200px;}
        li:nth-child(3){width:820px;}
        h2{font-size:180px;}
        h2:after,h2::after{bottom:-24px;width:490px;height:28px;}
        li:nth-child(3) h2:after,li:nth-child(3) h2::after{width:820px;}
    }
    p{top:70%;left:50%;transform:translate(-50%,-50%);width:800px;height:30px;}
    div{left:0;right:0;bottom:48px;width:50px;height:34px;
        a{font-size:1.25rem;line-height:2.125rem;}
    }
}

//------------------------------------------------------------------------------
#aboutBox{
    h2{top:700px;right:330px;font-size:11.25rem;width:420px;height:240px;opacity:0;}
    h2:after,h2::after{content:"";display:block;bottom:20px;width:420px;height:28px;}
}
    .about_text{top:700px;left:330px;width:720px;height:128px;line-height:2rem;opacity:0;
        span{font-size:1.25rem;font-weight:bold;display:inline-table;z-index:100;}
        span::before{content:"";display:block;z-index:-1;top:0;left:-100%;}
    }
    #aboutBox h2.action,.about_text.action{top:50%;transform:translateY(-50%);opacity:1;}

//------------------------------------------------------------------------------
#aboutCon{padding-top:8rem;}
.about_list{width:1680px;height:660px;margin:auto;
    ul{
        li{width:33.333333%;
            & dt{margin-bottom:6rem;}
            dl{
                dt{height:16%;font-size:6.25rem; p{font-size:1rem;color:#777;line-height:0;}}
                dd{height:82%;font-size:1rem;line-height:1.875rem;span{font-size:0.75rem;}}
}}}}
.history{
    div{top:-100%;left:50%;transform:traslateX(-50%);width:1px;}
    ul{
        li{width:100%;height:72px;font-size:1rem;line-height:0;margin-bottom:1rem;
            &:nth-child(2n){text-align:right;span{margin-right:273px;margin-left:0;}p{margin-left:-50%;}}
            &:nth-child(n+2){margin-bottom:2rem;}
            p{width:42%;margin-right:-50%;line-height:1.25rem;}
    }}}

//------------------------------------------------------------------------------
#aboutCon_02{padding-top:5.5rem;
    h2{height:auto;font-size:6.25rem;margin-bottom:5rem; p{font-size:1rem;line-height:0;} }
    dl{height:244px;
        dt{height:32px;margin-bottom:3.25rem;font-weight:bold;font-size:1.75rem;}
        dd{height:162px;
            ul{font-weight:bold;
                li{width:114px;margin-right:4.25rem; &:last-child{margin-right:0;} div{width:104px;height:104px;} p{margin-top:2.25rem;}}
}}}}
.my_can+em{top:36px;left:50%;transform:translateX(-50%);font-size:1.5rem;span{font-size:0.75rem;}}
.pub{width:1206px;margin:auto;margin-bottom:4.375rem;}
.des{width:478px;margin:auto;}

//------------------------------------------------------------------------------
#workBox{
    h2{top:700px;font-size:11.25rem;width:420px;height:200px;}
    h2:after,h2::after{content:"";display:block;bottom:-24px;width:420px;height:28px;}
    dl{right:330px;bottom:108px;width:300px;height:108px;
        dt{height:28px;font-size:1.5rem;margin-bottom:1.75rem;}
        dd{height:64px;padding-left:12.125rem;
            a{width:74px;height:28px;margin-bottom:0.5rem;font-size:1.25rem;}
            a:last-child{width:60px;margin-bottom:0;}
}}}

//------------------------------------------------------------------------------
#workCon{
    >ul{
        >li{
            &:last-child{margin-right:0;}
            >dl{padding-top:68px;
                >dt{height:10%;font-size:4.375rem;margin-bottom:100px;}
                >dd{width:70%;height:60%;}
}}}}
.project_img{width:50%;
    &:hover{background-size:108%;}
}
.project_text{width:50%;
    dl{
        dt{height:20%;font-size:2.5rem;font-weight:bold;line-height:1.5rem;padding-top:1.5rem;padding-left:3rem;box-sizing:border-box; span{font-size:1.25rem;line-height:0;}}
        dd{height:80%;padding-left:3rem;padding-top:1.5rem;box-sizing:border-box;
            a{@include link(162px,42px);line-height:42px;font-size:1.25rem;margin-top:8rem;
                &:hover{border:2px solid #1d1d1d;box-sizing:border-box;line-height:38px;}
}}}}

//------------------------------------------------------------------------------
#footBox{
    ul{width:290px;height:100px;
        li{height:52px;margin-bottom:0.625rem;
            &:last-child{margin-bottom:0;}
            a{font-size:24px;line-height:3.125rem;
                &::before{content:"";bottom:0;height:1.2px;opacity:0;}
}}}}
    .timer{bottom:120px;width:204px;height:50px;line-height:3.125rem;font-size:2rem;}
    .copy{bottom:54px;width:516px;height:52px;line-height:1.625rem;}

//------------------------------------------------------------------------------
    }
}

