@mixin pc_default {
    @media screen and (min-width:1280px) and (max-width:1919px) {
        @content;

        //------------------------------------------------------------------------------
        h2 {
            font-size: 3rem;
        }
        h3 {
            font-size: 1.75rem;
        }

        //------------------------------------------------------------------------------
        #headBox {
            height: 122px;
            nav {
                width: 1100px;
                height: 58px;
                h1 {
                    width: 58px;
                }
                ul {
                    width: 300px;
                    li {
                        &:last-of-type {
                            display: none;
                        }
                        width: 58px;
                        line-height: 3.5rem;
                    }
                }
            }
        }

        //------------------------------------------------------------------------------
        #mainContainer {
            p:first-of-type {
                font-size: 2.25rem;
                em:first-of-type {
                    margin-bottom: 0.75rem;
                }
                em:last-of-type {
                    margin-bottom: 0.75rem;
                    font-size: 3.75rem;
                    line-height: 3.75rem;
                }
            }
            a {
                bottom: 2.5rem;
                em {
                    margin-bottom: 0.5rem;
                }
            }
        }
        //------------------------------------------------------------------------------
        #aboutTitle {
            padding-top: 11.25rem;
        }
        .about-text {
            margin: 5rem auto 0;
            width: 390px;
            height: 310px;
            div:first-of-type {
                margin-bottom: 4rem;
                line-height: 2rem;
            }
            div:last-of-type {
                line-height: 2rem;
            }
            span {
                font-size: 1.5rem;
            }
        }

        //------------------------------------------------------------------------------
        .about-content {
            width: 1100px;
            div {
                height: 554px;
            }
        }
        .skill-box {
            width: 528px;
            ul {
                margin-bottom: 2.75rem;
                width: 100%;
                height: 400px;
                li {
                    position: relative;
                    left: -100%;
                    margin: 0 1rem 1rem 0;
                    width: 120px;
                    height: 120px;
                    font-size: 0.875rem;
                    line-height: 7.5rem;
                    &:nth-child(4n) {
                        margin: 0;
                    }
                }
            }
        }
        .history-box {
            width: 480px;
            ul {
                width: 100%;
                height: 446px;
                li {
                    position: relative;
                    right: -100%;
                    width: 100%;
                    height: 76px;
                    dl {
                        dt {
                            margin: 0 3rem 0 4rem;
                            width: 140px;
                            font-size: 0.875rem;
                        }
                        dd {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
        //------------------------------------------------------------------------------
        #workTitle {
            padding-top: 11.25rem;
            h2 {
                margin-bottom: 1.5rem;
            }
            p {
                width: 232px;
                line-height: 1.5rem;
            }
        }
        .work-link {
            width: 940px;
            dl {
                margin-top: 14.75rem;
                width: 100%;
                dt {
                    font-size: 1.25rem;
                    margin-bottom: 1.75rem;
                }
                dd {
                    a:first-of-type {
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        //------------------------------------------------------------------------------
        #workContainer {
            h3 {
                margin-bottom: 2.5rem;
                width: 1100px;
            }
            @include all-btn;
        }
        #workContainer > .work-list-box {
            margin-bottom: 5.375rem;
            width: 1100px;
            height: 400px;
        }
        // --------------------------------------------------
        $count: 3;
        #workContainer .work-list-modal .work-list-box {
            padding: 4rem;
            width: 1100px;
            height: 80%;
            ul {
                width: 1100px;
                height: 640px;
                li {
                    margin: auto;
                    padding: 0 6rem;
                    box-sizing: border-box;
                    height: 280px;
                    margin: 2rem 0;
                }
            }
            .port-img {
                width: 440px;
                height: 280px;
            }
            .port-text {
                padding: 1.5rem 1.25rem;
                width: 440px;
                height: 280px;
                background-color: #fff;
                p {
                    margin-bottom: 1.75rem;
                }
                a {
                    background-color: #e0e0e0;
                }
            }
            .close-btn {
                right: 1.5rem;
            }
        }
        // --------------------------------------------------
        .port-btn {
            right: 2rem;
            bottom: 2.25rem;
            width: 88px;
            height: 0;
        }
        .port-img {
            width: 560px;
            height: 400px;
        }
        .port-text {
            padding: 2.5rem 0 0 2rem;
            width: 480px;
            height: 320px;
            p {
                margin-bottom: 3rem;
                strong {
                    font-size: 1.5rem;
                }
            }
            div {
                width: 144px;
                height: 36px;
                line-height: 2.25rem;
            }
        }

        //------------------------------------------------------------------------------
        #footBox {
            padding: 11.25rem 0 6.125rem;
        }
        .my-contact {
            width: 240px;
            ul {
                width: 100%;
                height: 100%;
                li {
                    width: 100%;
                    a {
                        @include link;
                        font-size: 1.25rem;
                        &:first-of-type {
                            margin-bottom: 1.75rem;
                        }
                    }
                }
            }
        }
        .copy-right {
            font-size: 0.75rem;
            line-height: 1.5rem;
        }

        //------------------------------------------------------------------------------
    }
}
