
// color 
$white: #ffffff;
$black: #060606;
$navy: #020050;
$beige: #e0e0e0;
$text-shadow: rgba(255, 255, 255, .4);

// font-size
$h2-size: (3.25rem, 3rem, 2.5rem);
$h3-size: (2rem, 1.75rem, 1.5rem);

// transition
$transition-01: cubic-bezier(0.5,-1, 0.5, 2);
