@font-face {
  font-family: 'KCC-eunyoung-Regular';
  src: url('KCC-eunyoung-Regular.svg#KCC-eunyoung-Regular') format('svg'),
       url('KCC-eunyoung-Regular.ttf') format('truetype'),
       url('KCC-eunyoung-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KCC은영체';
  src: url('KCC은영체.eot');
  src: url('KCC은영체.eot?#iefix') format('embedded-opentype'),
       url('KCC은영체.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

